.form-group
  label(for='login_username', l10n) Username
  input.form-control#login_username(name='login_username', type='text', ng-model='username', placeholder="user@ripplefederation.org", required,
    rp-focus-on-empty, rp-autofill='$routeParams.username')
.form-group
  label(for='login_password', l10n) Password
  input.form-control#login_password(name='login_password', type='password', ng-model='password', required, rp-focus)
  //- TODO
  //a.recover-link(href="", l10n) Recover Account